:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}
/* placeholders */
    ::-webkit-input-placeholder  { 
        font-weight: 500;
        transition: 200ms;
        color: #adadad; 
    }
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    /*  */
    input:-moz-placeholder {
        font-weight: 500;
        transition: 200ms;
        color: #adadad; 
    }
    textarea:-moz-placeholder {
        font-weight: 500;
        transition: 200ms;
        color: #e2e2e2; 
    }​ 
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    input:focus::-moz-placeholder {
        color: transparent; 
    }
    textarea:focus::-moz-placeholder {
        color: transparent; 
    }​
/* endplaceholders */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Roboto, sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}
/*BOX MODEL
    Modelo de caixa:
    Toda caixa tem:
    largura, altura, espaçamento, preenchumento, borda, cor, 
    fundo, maneira que é vista pelo html(DISPLAY)
    posicionamento, alinhamento 
*/


