body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiasied;
}

body::after{
    content: "";
    position: absolute;
    background: #f0f0f5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#page-search-results {
    width: 90%;
    max-width: 1100px;

    /* alinhamento de caixa pelo ldo de fora da caixa */
    margin: 0 auto;
}
#page-search-results header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page-search-results header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}
#page-search-results header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;
    display: flex;
}

main {
    margin: 48px;
}
main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;

    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 24px;
}

main .card{
    border: none;
    border-radius: 8px 8px 0 0;

    background: #fff;
}
main .card h1, h3, p  {
    padding: 2%;
}
main .card:hover {
    background: #fff;
    transform: translateY(-.5%);
    border: 2px transparent;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
}
main .card:hover img{
    filter: grayscale(0%);
    transition: 200ms;
}
main .card img {
    width: 100%;
    height: 180px;
    filter: grayscale(10%);
    object-fit: cover;
    object-position: top;
    border-radius: 8px 8px 0 0;
}

main .card h1{
    margin-top: 32px;
    font-size: 36px;
    line-height: 41px;
    color: #322153;
}

main .card h3 {
    margin: 24px 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: var(--primary-color);
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80
}

/* itens mini */
.mini-items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 15rem;
    row-gap: 1rem;
    padding: 0.6rem;
}

.mini-items-grid li {
    background-color: #ffffff; 
    /* background-color: #e1faec; */
    list-style: none;
    height: 4.4rem;
    width: 4.4rem;
    /* box-shadow: inset 0 0 0 2px #34cb79; */
    border: 3px solid #34cb79;
    border-radius: .3rem;
    padding: .2rem .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.mini-items-grid li span{
    margin-top: 4px;
    font-size: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
    pointer-events: none;
}
/* o evento de pointer (click, no caso) dentro de li e span,
imagem e texto, somento no pai, li... top */
.mini-items-grid li img {
    height: 2.4rem;
    filter: grayscale(0);
    width: 2.4rem;
    pointer-events: visible;
    /* pointer: unset; */
}


li.undefined {
    visibility: hidden;
    display: none;
}

li#3 {
    display:none;
}

.address {
    display: flex;
    align-items: center;
    justify-items: center;
}
.card .address img {
    filter: opacity(40%);
    padding: 0 .7rem 0 1rem;
    width: auto;
    height:2rem;
}