@media (max-width:900px) {
    #page-home {
        background-position-x: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 2vw;

        left: 50%;
        transform: translateX(-50%);
        width:fit-content;
    }
    #page-home main h1.red{
        font-size: 40px;
        margin-top: 10%;
        margin-bottom: 15%;

    }
    #page-home main p{
        font-size: 20px;
        margin-bottom: 25%;
    }
    #page-home main {
        align-items: center;
        margin-bottom: 9vw;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }
    #page-search-results .cards img {
        height: 250px;
    }
}

@media (min-width: 1700px){
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}